/* Header Top */
.header {
  background-color: var(--color-131921);

  .header-middle {
    .logo-name {
      @media screen and (max-width: 992px) {
        a {
          text-align: center;
          font-size: 2rem;
        }
      }
    }

    .header-search {
    }

    .header-links {
      & > * {
        flex: 1;
      }

      @media screen and (max-width: 811px) {
        & > * {
          padding: 1rem 0;
          flex: 1;
          text-align: center;

          a {
            justify-content: center;
          }
        }
      }
    }
  }

  .header-bottom {
    button {
      color: white;
    }
  }

  .menu-toggle {
  }
}

/* Header Middle */
.header-search-icon {
  background-color: var(--color-febd69) !important;
  border: none;
  outline: none;
}

.header-links > a,
.header-links > p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-links > .icon {
  color: white;
  font-size: 0.7rem;
  width: 100%;
}

.header-links img {
  width: 30px;
  height: 30px;
}

/* Header Bottom */

button.header-menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-menu::before {
  content: url(~/public/images/menu.svg);
  width: 25px;
  height: 25px;
}
