.wishlist-product {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  
  .x-icon {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background-color: #ff5034;
    min-width: fit-content;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.5rem;
    border-radius: 50%;

    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      color: #ff5034;

      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
  }

  .product-title {
    font-size: 1rem;
    margin: 0.5rem;
    letter-spacing: 1px;
  }

  .product-price {
    margin: 1rem 0;
  }
}
