.cool-select {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  max-width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .title-select {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;
    font-size: 1.2rem;

    // make it look like a placeholder
    color: var(--color-60676c);

    // make it small and far away when selected
    transition: all 0.3s;
  }

  &.active .title-select {
    top: 0.3rem;
    transform: translate(0, 0);
    font-size: 1rem;
  }

  select {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 20px);
    height: 100%;
    border: none;

    // Disable default arrow
    appearance: none;
    // disappear value
    color: transparent;
    background-color: transparent;
  }

  .value-select {
    position: absolute;
    top: 70%;
    left: 30px;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    color: var(--color-4d5860);
  }

  .icon-select {
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    font-size: 1.2rem;
    color: #9a9fa4;
    border-left: 1px solid #9a9fa4;
  }
}
